@import 'colors';

:export {
    primary: $primary;
    link: $link;
    info: $info;
    success: $success;
    warning: $warning;
    danger: $danger;
    dark: $dark;
    text: $text;
    grey-light: $grey-light;
    body-background-color: $body-background-color;
}