@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

.container.container-photo{
    padding: 10px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 0;

    img{
        display: inline-block;
        margin-right: 5px;
        border-radius: $radius;
        max-height: 175px;
    }

    .upload{
        display: inline-block;
        height: 175px;
        vertical-align: top;
        background-color: #e8e8e8;
        color: #363636;
        border-radius: $radius;
    }
}