@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

.container.container-photo{
    padding: 10px 0;
    border-top: 1px solid black;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    line-height: 0;

    .img-container{
        overflow: visible;
        display: inline-block;
        margin-right: 5px;
        max-height: 175px;
        position: relative;

        img{
            max-height: 175px;
            border-radius: $radius;
        }

        .delete{
            background-color: $red;
            position: absolute;
            display: none;
            z-index: 1;
            right: 0;
            top: 0;
        }
        
        .icon{
            position: absolute;
            display: none;
            color: $black;
            cursor: pointer;
            z-index: 1;
            right: 26px;
            top: 0;
        }
    }
    .img-container:hover .delete, .img-container:hover .icon{display: inline-block}

    .upload{
        display: inline-block;
        height: 175px;
        vertical-align: top;
        background-color: #e8e8e8;
        color: #363636;
        border-radius: $radius;
    }
}

.draggable-container{
    .draggable{
        display: inline-block;
        padding: 5px;
        max-height: 175px;
        cursor: move;
    }
    .draggable.dragging{
        opacity: 0.5;
    }
}