@import 'sizes';
@import 'colors';
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

@media (min-width: $tablet){
    #sidebar{
        width: $sidebar-closed;
        height: 100%;
        display: inline-block;
        background-color: $grey-dark;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        line-height: 0;
        transition: 1.5s width ease;

        .sidebar-text{
            position: relative;
            color: $grey-white-text;
            vertical-align: middle;
            display: inline;
            opacity: 0%;
            margin-left: 10px;
        }

        .sidebar-text-introduce{
            transition-delay: 1s;
            transition-property: opacity;
            transition-duration: 1s;
        }

        .sidebar-text-exit{
            transition-property: opacity;
            transition-duration: 500ms;
        }
    
        #sidebar-top{
            display: inline-block;
            width: 100%;
            height: 52px;
            background-color: $near-black-background;
            padding: 10px 15px;
    
            #sidebar-brand-logo{
                display: inline-block;
                border-radius: 100%;
                max-height: 100%;
                max-width: 100%;
                vertical-align: middle;
            }
        }

        .sidebar-item{
            display: block;
            padding: 8px 15px;

            .sidebar-icon{
                vertical-align: middle;
                display: inline-block;
                margin: 0;
                height: 38px;
                color: $grey-white-text;
            }

            .sidebar-icon svg{
                font-size: 200%;
            }
        }

        .sidebar-item:hover{
            .sidebar-icon, .sidebar-text {
                color: white;
            }
        }

        hr{
            margin: 0.25rem 0 0.5rem 0;
            background-color: $grey-light;
        }
    }
    
    #sidebar.expanded{
        width: $sidebar-expanded;

        .sidebar-text{
            opacity: 100%;
        }
    }
}

@media(max-width: $tablet){
    #sidebar{
        display: none;
    }
}